<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Clínica Dental | Botones Agregar/title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            </head>
            <body>
                <div th:fragment="botonesAgregar" class="py-2 mb-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3" sec:autorize="hasRole(''ROLE_ADMIN)">
                                <a th:href="@{/agregar}">
                                    <button type="button" class="btn btn-primary">
                                        Agregar Paciente <i class="bi bi-person-plus-fill"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
</html>
